#loader {
    background-color: #fff;
    background-position: center center;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999;
}

.loadergif {
    height: 70px;
    width: 70px;
    background-position: center center;
    bottom: 0px;
    left: 0px;
    margin: auto;
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
}

.center {
    width: 100%;
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 40%;
}

.bottom {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 10px;
}

#items {
    display: none;
    text-align: center;
}

