#loader {
    background-color: #fff;
    background-image: url(/images/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999;
}

.center {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 430px 0;
}

.bottom {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 10px;
}

#items {
    display: none;
    text-align: center;
}